{% extends 'base.html.twig' %}

{% block title 'Agence De Luca' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence De Luca</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum placeat a voluptas commodi sit velit quas, quisquam minus! Dolor libero neque velit commodi facilis amet quisquam consequuntur tempore! Nulla, laudantium?</p>
</div>

<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
        {% for property in properties %}
            <div class="col-md-3">
                {% include 'property/_property.html.twig' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}