{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
<div class="container mt-4">
<h1>Voir tous nos biens</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum placeat a voluptas commodi sit velit quas, quisquam minus! Dolor libero neque velit commodi facilis amet quisquam consequuntur tempore! Nulla, laudantium?</p>
</div>
{% endblock %}