{% extends 'base.html.twig' %}

{% block body %}

<div class="container-mt4">
    <h1>Créer une nouvelle boption</h1>
    {{ include ('admin/option/_form.html.twig', {button: 'Créer'}) }}
</div>

{% endblock %}